<a href="https://colab.research.google.com/github/NouiMira/python4physicists2023/blob/main/Kopie_von_Exercise01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem 1: Some basics about data types and lists

**(A)** Below you find the list "SN_unsorted" which contains 5 supernovae that have occurred this year. The elements are a mixture of the name, brightness, type, host, and redshift of the supernovae.

At first, write down the number of strings, integers, and floats. After that, write a short code that allows you to print all elements of type float.

In [4]:
SN_unsorted = ['2023rve', '2023fyq', '2023ixf', '2023oho', '2023uda', 14.4, 14.7, 15, 15.8, 16, 'SN II', 'SN Ib', 'SN II', 'SN Ia', 'SN Ia', 0.004, 0.008, 0.001, 0.011, 0.015, 'NGC 1097', 'NGC 4388', 'M101', 'KUG 0227-106', 'CGCG 424-007']

In [5]:
str_count = 0
int_count = 0
float_count = 0
for i in SN_unsorted:
   if isinstance(i, str):
      str_count += 1
   elif isinstance(i, int):
      int_count += 1
   elif isinstance(i, float):
      float_count += 1
print("Number of strings:", str_count)
print("Number of integers:", int_count)
print("Number of floats:", float_count)
print("Elements of type float:")
for i in SN_unsorted:
    if isinstance(i , float):
      print(i)

Number of strings: 15
Number of integers: 2
Number of floats: 8
Elements of type float:
14.4
14.7
15.8
0.004
0.008
0.001
0.011
0.015

**(B)** The following lists contain the same values as before but sorted. The order is the same for all 5 lists (the first element of each list belongs to the first SN, the second elements to second Sn and so on).
Now, the integers from the previous cell are written as floats.

Even if you could just read the values from the top to the bottom, it is more convenient to read them horizontally.
Write a short code that allows you to print the values for each supernova in the scheme: name, type, magnitude (list SN_mag), redshift, host.

Since you can encounter very large lists in real life, think about a simple way to show which unique types of Supernovae are represented in the list.

In [6]:
SN_name = ['2023rve', '2023fyq', '2023ixf', '2023oho', '2023uda']
SN_mag = [14.4, 14.7, 15.0, 15.8, 16.0]
SN_type = ['SN II', 'SN Ib', 'SN II', 'SN Ia', 'SN Ia']
SN_redshift = [0.004, 0.008, 0.001, 0.011, 0.015]
SN_host = ['NGC 1097', 'NGC 4388', 'M101', 'KUG 0227-106', 'CGCG 424-007']

In [8]:
for i in range(5) :
    b=[SN_name[i], SN_type[i], SN_mag[i],SN_redshift[i],SN_host[i]]
    print(b)

['2023rve', 'SN II', 14.4, 0.004, 'NGC 1097']
['2023fyq', 'SN Ib', 14.7, 0.008, 'NGC 4388']
['2023ixf', 'SN II', 15.0, 0.001, 'M101']
['2023oho', 'SN Ia', 15.8, 0.011, 'KUG 0227-106']
['2023uda', 'SN Ia', 16.0, 0.015, 'CGCG 424-007']

**(C)** Now you want to add SN 1987A (use as name just 1987A) to the lists. SN 1987A was a type II (SN II) supernova with a magnitude of 4.5 mag,
that occurred in the Large Magellanic Cloud (LMC) in the year 1987. Because it was so close, we assume the reshift to be 0.
You can add the values and elements simply at the end of the lists. Check for each list, if it is working! You can use your code from the cell above.

In [ ]:
SN_name.append( "1987A" )
SN_mag.append(4.5)
SN_type.append("SN II")
SN_redshift.append(0)
SN_host.append("LMC")

**(D)** Now, delete all elements that belong to SN 2023rve! Check it again.

In [ ]:
del SN_name[0]
del SN_host[0]
del SN_redshift[0]
del SN_type[0]
del SN_mag[0]

**(E)** Assume the supernovae events to be sorted by age. The first one is the youngest and the last one the oldest.
Sort the list such that the values for the oldest supernova (SN 1987A) are the first list elements.
Do a final check by printing the reversed list the same way as before!

In [ ]:
SN_name = ['2023rve', '2023fyq', '2023ixf', '2023oho', '2023uda',"1987A"]
print(SN_name[::-1])

['1987A', '2023uda', '2023oho', '2023ixf', '2023fyq', '2023rve']

# Problem 2: De Morgan's laws


In this task, we will make use of Booleans. For that, we take a look at De Morgan's laws. The rules allow the expression of conjunctions and disjunctions purely in terms of each other via negation. The rules can be expressed as:

**The negation of a disjunction is the conjunction of the negations**

                                    ¬(A ∧ B) = ¬A ∨ ¬B

and

**The negation of a conjunction is the disjunction of the negations**

                                    ¬(A ∨ B) = ¬A ∧ ¬B,

where
¬ is the negation logic operator (NOT),
∧  is the conjunction logic operator (AND),
∨ is the disjunction logic operator (OR).

Prove with the help of Booleans that the rules apply.

Hint: You can start with A = True as a true statement and B = False as a false statement.

In [ ]:
A=True
B=True
c = not(A and B)
d = not A or not B
e= not(A or B)
f= not A and not B
print(c == d)
print(e==f)

True
True

# Problem 3: For Loops and conditional statements

In this task you will learn to work with For Loops and also the combination of For Loops and If statements. We will start with the list below.

**(A)** Write a code to sum up every single element from the list by using a For Loop.

In [ ]:
L = [2, -6, -4, 1, 0, -9, 0, 3, 0, -7, -9, 5]

In [ ]:
sum = 0
for n in L:
   sum = sum +n

print("sum", sum)

sum -24

**(B)**
In this task, we would like to get information about the sign of the values.

Write a code which counts the amount of positve values of list L.

In [ ]:
sum = 0
for n in L:
 if n >= 0 :
   sum +=1
print(sum)

7